#my added
.env
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Exclude TFLite models
assets/models/*.tflite

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter-specific ignores (usually already present)
.fvm/
build/
ios/Podfile.lock
android/.gradle
android/build
android/app/build
linux/build/
macos/build/
web/build/

# Firebase-specific ignores
**/functions/node_modules
**/functions/.dart_tool
**/functions/.gradle
**/functions/build
.firebaserc # Stores local project associations (usually safe to commit, but personal preference)

# Consider ignoring firebase.json ONLY if you have very specific reasons
# firebase.json

# Keep your rules files tracked!
# firestore.rules
# storage.rules
